* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-family: "Rubik", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  gap: 7em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding: 0 2em;
}

.right-section {
  height: 5em;
  padding: 0 2em;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.right-section a {
  margin: 0;
  padding: 0;
  opacity: 0.2;
  transition: opacity 100ms linear;
}

.right-section a.active {
  opacity: 1;
}

.right-section a:hover {
  opacity: 1;
}

.right-section:has(a:hover) :not(a:hover) {
  opacity: 0.2;
}

nav .a:hover {
  opacity: 1;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
  top: -10em;

  animation: 1.5s animateNavIn cubic-bezier(0.09, 0.9, 0.39, 0.93) forwards;
}

.l1 {
  animation-delay: 1100ms;
}

.l2 {
  animation-delay: 1000ms;
}

.l3 {
  animation-delay: 1200ms;
}

@keyframes animateNavIn {
  to {
    top: 0;
  }
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.09, 0.9, 0.39, 0.93);
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* END NAV, START CONTENT */

/* Grids */

.content-two {
  position: relative;
  width: 70vw;
  left: 20vw;
}

.ver-line.vsec {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  position: absolute;
  left: -3em;
}

.grid-container:hover .ver-line.vsec {
  top: 0;
  opacity: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, calc(168.75px / 2));
  grid-gap: 10px;

  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 1em;

  position: relative;
}

.title {
  color: white;
  font-size: 3em;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

  display: inline;
  height: 1em;
}

.act-tip {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  color: white;
  opacity: 0.2;
  transition: opacity 100ms linear;

  font-size: 2em;
}

.act-detail {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 7;
  color: white;

  font-size: 1.75em;
  opacity: 0;
  transition: opacity 200ms linear,
    right 200ms cubic-bezier(0.06, 0.9, 0.39, 0.93);

  position: relative;
  right: -3em;
}

.sub-image {
  width: 300px;
  aspect-ratio: 16/9;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 5;

  display: flex;
  position: relative;
  transition: transform 200ms cubic-bezier(0.06, 0.9, 0.39, 0.93),
    opacity 100ms linear;
  will-change: transform;
}

.sub-image:hover .img-wrapper,
.sub-image:hover {
  transform: translateY(-10%);
  opacity: 1;
}

img {
  width: 300px;
  aspect-ratio: 16/9;
}

.content1:hover .ky {
  transform: translateX(-20%) translateY(0) rotate(-5deg);
}

.content1:hover .sb {
  transform: translateX(20%) translateY(0) rotate(5deg);
}

.ver-line {
  width: 1px;
  min-width: 1px;
  height: 40px;
  background: linear-gradient(transparent, mediumslateblue, transparent);

  position: relative;
  top: 7em;
  left: -10px;

  opacity: 0;
  transition: opacity 100ms linear,
    top 200ms cubic-bezier(0.06, 0.9, 0.39, 0.93);
}

.grid-container:has(.sub-image:hover) .act-tip {
  opacity: 0;
}

.grid-container:has(.ky:hover) .ky-det,
.grid-container:has(.sb:hover) .sb-det {
  opacity: 1;
  right: 0;
}

.grid-container:has(.ky:hover) .v1,
.grid-container:has(.sb:hover) .v2 {
  opacity: 1;
  top: 0;
}

.img-wrapper {
  overflow: hidden;
  border-radius: 1vmin;
  opacity: 0.3;
  transition: transform 200ms cubic-bezier(0.06, 0.9, 0.39, 0.93);
  will-change: transform;
}

/* End content 1, Start content 2 */
