* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-family: "Rubik", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding: 0 2em;
}

.right-section {
  height: 5em;
  font-size: 0.75em;
  padding: 0 2em;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.right-section a {
  margin: 0;
  padding: 0;
  opacity: 0.2;
  transition: opacity 100ms linear;
}

.right-section a.active {
  opacity: 1;
}

.right-section a:hover {
  opacity: 1;
}

.right-section:has(a:hover) :not(a:hover) {
  opacity: 0.2;
}

nav .a:hover {
  opacity: 1;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
  top: -10em;

  animation: 1.5s animateNavIn cubic-bezier(0.09, 0.9, 0.39, 0.93) forwards;
}

.l1 {
  animation-delay: 1s;
}

.l2 {
  animation-delay: 1100ms;
}

.l3 {
  animation-delay: 1200ms;
}

@keyframes animateNavIn {
  to {
    top: 0;
  }
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.09, 0.9, 0.39, 0.93);
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* END NAV, START CONTENT */
.content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  width: 60vw;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  column-gap: 3em;

  opacity: 0;
  animation: 200ms 3s popIn linear forwards;
}

@keyframes popIn {
  to {
    opacity: 1;
  }
}

.image {
  position: relative;
  width: 500px;
  aspect-ratio: 16/9;
  left: -5rem;
  opacity: 0;
  transition: left 500ms cubic-bezier(0.06, 0.9, 0.39, 0.93),
    opacity 200ms ease-in;

  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.placeholder {
  opacity: 0.2;
  width: 300px;
  left: 68px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 100ms;
}

.img-border {
  position: relative;
  top: -7.5px;
  left: calc(-2rem - 15px);

  width: 530px;
  aspect-ratio: 16/9;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;

  /* background-color: aliceblue; */
  border: 2px rgba(255, 255, 255, 0.2) solid;
}

.description {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 7;

  position: relative;
  right: -5rem;
  opacity: 0;
  transition: right 500ms cubic-bezier(0.06, 0.9, 0.39, 0.93),
    opacity 200ms ease-in;

  font-size: 1.5em;
  word-spacing: 10px;
}

.title-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.title-2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.title-3 {
  grid-column-start: 5;
  grid-column-end: 7;
}

.title {
  position: relative;
  top: -3em;

  display: inline;
  padding: 5px;
  transition: opacity 200ms cubic-bezier(0.06, 0.9, 0.39, 0.93);
}

.title-1:hover ~ .elnido,
.title-2:hover ~ .coron,
.title-3:hover ~ .ppur {
  position: absolute;
  left: -2rem;
  opacity: 1;
}

body:has(.f-elnido:hover) .elnido,
body:has(.f-coron:hover) .coron,
body:has(.f-ppur:hover) .ppur {
  left: -2rem;
  opacity: 1;
}

body:has(.f-elnido:hover) .desc-elnido,
body:has(.f-coron:hover) .desc-coron,
body:has(.f-ppur:hover) .desc-ppur {
  right: -2rem;
  opacity: 1;
}

.title-1:hover ~ .placeholder,
.title-2:hover ~ .placeholder,
.title-3:hover ~ .placeholder {
  opacity: 0;
}

.title-1:hover ~ .desc-elnido,
.title-2:hover ~ .desc-coron,
.title-3:hover ~ .desc-ppur {
  right: -2rem;
  opacity: 1;
}

.title-1:hover ~ .tip,
.title-2:hover ~ .tip,
.title-3:hover ~ .tip {
  opacity: 0;
}

/* .title:hover {
  scale: 1.2;
  transition: scale 200ms linear;
} */

span {
  max-width: fit-content;
}

h2 {
  display: inline;
}

.title a {
  color: white;
  text-decoration: none;
}

.info {
  background: linear-gradient(to right, #b62fd8, #cb96d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
  display: block;

  transition: height 200ms cubic-bezier(0.06, 0.9, 0.39, 0.93),
    width 200ms cubic-bezier(0.06, 0.9, 0.39, 0.93);
}

h2:hover::before {
  width: 100%;
  height: 96%;
}

h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  display: block;

  transition: height 200ms cubic-bezier(0.06, 0.9, 0.39, 0.93),
    width 200ms cubic-bezier(0.06, 0.9, 0.39, 0.93);
}

h2:hover::after {
  width: 98%;
  height: 96%;
}

.content:has(.title:hover) .title:not(.title:hover) {
  opacity: 0.2;
}

body:has(.title-1:hover) .f-elnido,
body:has(.title-2:hover) .f-coron,
body:has(.title-3:hover) .f-ppur,
body:has(.title-1:hover) .line-1,
body:has(.title-2:hover) .line-2,
body:has(.title-3:hover) .line-3 {
  opacity: 1;
}

.tip {
  opacity: 0.3;
  word-spacing: 1px;
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: opacity 100ms linear;

  font-size: 1.4em;
}

/* footer */

.image-carousel {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100vw;
  justify-content: center;
  padding: 3em;
  gap: 1em;
}

.f-image-container {
  display: flex;
  gap: 2px;
}

.footer-image {
  position: relative;
  top: 0;
  aspect-ratio: 16/9;
  width: 50px;
  opacity: 0.3;
  transition: opacity 200ms linear,
    top 200ms cubic-bezier(0.06, 0.9, 0.39, 0.93);
  transform: translateX(-70em);
  animation: 2s animateIn cubic-bezier(0.19, 0.87, 0.44, 0.98) forwards;
}

.f-ppur {
  animation-delay: 1s;
}

.f-coron {
  animation-delay: 1100ms;
}

.f-elnido {
  animation-delay: 1200ms;
}

.footer-image:hover {
  opacity: 1;
  top: -5px;
}

body:has(.footer-image:hover) .placeholder,
body:has(.footer-image:hover) .tip {
  opacity: 0;
}

.line {
  width: 1px;
  height: 28px;
  background: linear-gradient(transparent, mediumslateblue, transparent);
  opacity: 0;
  transition: opacity 200ms linear;
}

@keyframes animateIn {
  to {
    transform: translateX(0%);
  }
}

/* Vertical line */
